<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href='/stylesheets/style.css'>
</head>
<body>

<div class="nav">
    <a href="index">主页</a>
    <a href="record">记录</a>

</div>

<div class="main">

    <div class="record_table">
        <h2>提示：</h2>
        <h3>本记录会存储到你当前设备中，以防忘记。若要清除，请清除你当前设备的浏览痕迹及缓存！</h3>
        <div class="content"></div>
    </div>

</div>
</body>
</html>